<template>
  <div class="cart">
    <h2>Кошик</h2>
    <ul>
      <li v-for="(cartItem, index) in cart" :key="index">
        <div class="item-details">
          <span class="item-name">{{ cartItem.product.item }}</span>
          <span class="item-price">{{ cartItem.product.price }} грн</span>
        </div>
        <div class="item-quantity-controls">
          <button @click="decrementQuantity(index)">-</button>
          <span class="item-quantity">{{ cartItem.quantity }}</span>
          <button @click="incrementQuantity(index)">+</button>
        </div>
        <button @click="removeFromCart(index)" class="remove-button">Видалити</button>
      </li>
    </ul>
    <div class="total-cost">Загальна вартість: {{ totalCost }} грн</div>
  </div>
</template>

<script>
import { useStore } from "vuex";

export default {
  computed: {
    cart() {
      return this.$store.getters.cart;
    },
    totalCost() {
      return this.$store.getters.totalCost;
    },
  },
  methods: {
    removeFromCart(index) {
      this.$store.commit('removeFromCart', index);
    },
    incrementQuantity(index) {
      this.$store.commit('incrementQuantity', index);
    },
    decrementQuantity(index) {
      this.$store.commit('decrementQuantity', index);
    },
  },
};
</script>
<style>
.cart {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.cart h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    font-size: 16px;
}

.item-details {
    flex: 1;
    margin-right: 10px;
    margin: 5px;
}

.item-name {
    margin-right: 10px;
}

.item-price {
    flex: 1;
    margin: 5px;
}

.item-quantity-controls {
    flex: 1;
    margin: 5px;
}

.cart li button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.cart li button:hover {
    background-color: #0056b3;
}

.cart .total-cost {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
</style>
