<template>
  <div>
    <h2 v-if="product">
      This is page for product #{{ product.id }}: {{ product.item }}
    </h2>
    <h2 v-else>
      Product not found
    </h2>
    <div>
      <button @click="addItemToCart" class="btn">Add to cart</button>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import products from '../data/products.js';

export default {
  data: function () {
    return {
      product: null,
      quantity: 1,
    };
  },
  computed: {
    cart: function () {
      return this.$store.state.cart;
    },
  },
  mounted: function () {
    this.product = products.find((item) => {
      return item.id === Number(this.$route.params.id);
    });
  },
  methods: {
    addItemToCart: function () {
            if (this.product) {
                const existingCartItem = this.cart.find((cartItem) => cartItem.product.id === this.product.id);

                if (existingCartItem) {
                    existingCartItem.quantity += this.quantity;
                    this.$store.commit('updateCartItem', existingCartItem); 
                } else {
                    this.$store.commit('addToCart', { product: this.product, quantity: this.quantity });
                }
            }
        },

  },
};
</script>
